.orderTabsList {
	border-top: 1px dashed light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
	position: relative;
	padding: var(--mantine-spacing-sm);
}

.orderTabsIndicator {
	background-color: var(--mantine-color-blue-6);
	border-radius: var(--mantine-radius-md);
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orderTabsTab {
	z-index: 1;
	font-weight: 500;
	transition: color 150ms ease;
	color: light-dark(var(--mantine-color-dark-8), var(--mantine-color-dark-1));

	&[data-active] {
		color: var(--mantine-color-white);
	}
}
